includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:

    paths:
        - app
        - bootstrap/app.php
        - config
        - database
        - public
        - routes

    excludePaths:
        - database/migrations/2025_10_28_094307_create_activity_log_table.php
        - database/migrations/2025_10_28_094308_add_event_column_to_activity_log_table.php
        - database/migrations/2025_10_28_094309_add_batch_uuid_column_to_activity_log_table.php
        - database/migrations/2025_10_28_094302_create_permission_tables.php

    level: max

    tmpDir: /tmp/phpstan
